#confirmcontainer {
    visibility: hidden;
    background-color: rgba(54, 57, 61, 0.534);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: flex; 
    align-items: center;
    justify-content: center;
    position: absolute;
}

#confirmdiv {
    width: 20vw;
    height: 15vw;
    background-color:white;
}

#uploaddiv {
    margin: 5px;
}

html, body {
    height: 100%;
    width: 100%;
}